#upload_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto 0;
    height: 100px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -5px;
    background-color: #c2edf3;
    color: #5d5d5d;
}
#upload_text {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#file_upload {
    display: none;
}
